body{width:100%;
    background-image: url("images/background_body-flowers.png");
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header{width:100%;
    background-image: url("images/background_header-flowers.png");
    background-size: 50%;
    border-bottom: 4px solid #cba611;
    box-shadow: 0 4px 3px #211f19;
}
main{width:100%;
    display:flex;
    justify-content: center;
}
footer{width:100%
}

#header_banner-menustate, .header_banner-label{
    display:none
}
.header_banner{
    width: 100%;
    aspect-ratio: 100/45;
    max-height: 230px;
    overflow:hidden;
    display:flex;
    flex-direction: column-reverse;
    justify-content: unset;
    align-items:flex-end;
    gap:0%;
}
.header_banner-search{
    flex-basis: 100%;
    width: 100%;
    max-height: 60px;
    padding: 9px 0 9px 12px;
    background-color: #fff7ec;
    border: 3px solid #92770e;
    border-top: 7px solid #92770e;
    box-shadow: inset -1px -1px 1px #604e06;
}
.header_banner-nav{width: 100%;
    display:flex;
}
.header_banner-nav-boxes{padding: 13px 0;
    flex-basis:200px;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    border-top-left-radius:25%;
    border-top-right-radius:25%;
    background: #f8e4c4;
    border: 3px solid;
    border-left: 3.5px solid;
    border-right: 3.5px solid;
    border-bottom: 0px solid;
    border-color: #92770e;
    box-shadow: 6px 1px #604e06;
    overflow: hidden;
}
.header_banner-nav-boxes:hover{
   background: #cfb994;
   border-color: #604e06;
}
.header_banner-nav-boxes-links{
    font-size: calc(12px + 10%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration:none;
    color:black;
    text-overflow: hidden;
}
/* HEADER WIDTH - 400 PX */
@media only screen and (max-width:400px){
    .header_banner{
        padding: 80px 0px 0px 0px;
        aspect-ratio: unset;
        max-height: unset;
        background-color:#cfb994;
        border-top: 2px solid #cba611;
        flex-direction: row-reverse;
        justify-content: space-between;
        position:relative;
    }
    .header_banner-search{
        display:block;
        flex-basis:85%;
        width:85%;
        padding: 3px;
        margin: 3px;
        height: 45px;
        border: 2px solid #92770e;
    }
    .header_banner-label{
        display:block;
    }
    .header_banner-nav{
        display:block
    }
    .header_banner-nav-boxes{
        padding: 15px 0;
        display:block;
        border-radius:0;
        border:0;
        background: rgb(248,228,196);
        background: linear-gradient(90deg, rgba(248,228,196,0) 0%, rgba(248,228,196,0.5) 2%, rgba(248,228,196,1) 7%, rgba(248,228,196,1) 93%, rgba(248,228,196,0.5) 98%, rgba(248,228,196,0) 100%);
        box-shadow: inset 0 2px #604e06;
    }
    .header_banner-nav-boxes:hover{
        background: rgb(207,185,148);
    background: linear-gradient(90deg, rgba(207,185,148,0) 0%, rgba(207,185,148,0.5) 2%, rgba(207,185,148,1) 7%, rgba(207,185,148,1) 93%, rgba(207,185,148,0.5) 98%, rgba(207,185,148,0) 100%);
        box-shadow: inset 0 3px #604e06;
    }
    .header_banner-nav-boxes-links{
        text-align: center;
    }
    .header_banner-label{
        padding: 3px;
        margin: 3px;
        width:45px;
        aspect-ratio: 1/1;
        text-align: center;
        background-color: #f8e4c4;
        border: 2px solid #92770e;
    }
    .open, .close{
        font-size:25px;
        text-align: center;
    }
    #header_banner-menustate, .header_banner-nav, .close{
        display:none;
    }
    #header_banner-menustate:checked ~ .header_banner :is(.header_banner-nav, .close){
        display:block
    }
    #header_banner-menustate:checked ~ .header_banner :is(.open, .header_banner-search){
        display:none
    }
}
/* HEADER WIDTH + 800 PX */
@media only screen and (min-width:800px){ 
 .header_banner{
    padding: 130px 0 0 0;
    aspect-ratio: unset;
    max-height:unset;
    overflow:hidden;
    display:flex;
    flex-direction: row-reverse;
    justify-content:center;
    align-items: unset;
    gap:4%;
 }
 .header_banner-search{
    display:block;
    flex-basis:26%;
    width:26%;
    max-width: 380px;
    padding: 3px;
    margin: 0 3px 0 0;
    height: unset;
    border: 4px solid #92770e;
    border-bottom: 2px solid #cba611;
    box-shadow: unset;
    border-radius: 3%;
 }
 .header_banner-nav{width: 60%;
    gap: 2%;
    justify-content:flex-start;
 }
 .header_banner-nav-boxes{padding: 8px 15px 10px;
    flex-basis: 140px;
    border-bottom: 2px solid #cba611;
    transform:skew(5deg);
 }

 .header_banner-nav-boxes-links{
    transform:skew(-5deg);
    font-size: 18px;
 }
}
/* HEADER WIDTH + 8OO PX */

.main_elements{
    max-width:100%;
    min-width: 100%;
    margin-top:60px;
    padding: 1px 0 20px;
    background: rgb(248,228,196);
    background: linear-gradient(90deg, rgba(248,228,196,0) 0%, rgba(248,228,196,0.5) 2%, rgba(248,228,196,1) 7%, rgba(248,228,196,1) 93%, rgba(248,228,196,0.5) 98%, rgba(248,228,196,0) 100%);
    transition: 1 0 linear;
    border-radius: 0;
}

.main_element{margin: 20px 5px;
}
hr{margin: 15px 0 auto;
    width:100%;
    height: 3px;
    border: none;
    background: #cfb994;
    background: linear-gradient(90deg, rgb(207,185,148, 0) 0%, rgb(207,185,148, 0.2) 6%, rgb(207,185,148) 9%, rgb(207,185,148) 91%, rgb(207,185,148, 0.2) 94%, rgb(207,185,148, 0) 100%);

}

h1{margin-bottom: 20px;
    font-family:cursive;
    font-size: calc(10px + 3.5vw);
    text-align: center;}
.main_section-text{padding: 0 6%;
    line-height: calc(14px + 1vw);
    font-size: calc(11px + 1vw);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}

.main_articles{padding: 0;
    max-height: 17em;
    overflow-y: scroll;
    display:flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 30px;
}
.main_articles::-webkit-scrollbar {
    width: 15px;
}
.main_articles::-webkit-scrollbar-track {
    border-radius: 10px;
}
.main_articles::-webkit-scrollbar-thumb {
    background: #cfb994;
    box-shadow: inset -2px -2px #604e06;
    border-radius: 10px;
}
.main_articles-composition{width: 90%;
}
h3{padding-bottom: 15px;
    font-size: 12px;}
.main_articles-composition-text{
    font-size: calc(10px + 0.2vw);
    text-align: justify;
}

.main_gallery{margin: 20px 3%;
    display:flex;
    row-gap: 4px;
    column-gap: 2%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main_gallery-frame{
    flex-basis: 49%;
    aspect-ratio: 20 / 18;
    overflow: hidden;
    background-color: #cfb994;
    padding: 1%;
    border-radius: 5%;
}
.main_gallery-frame-img{
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    overflow: hidden;
}

/* MAIN WIDTH + 800 PX */
@media only screen and (min-width:800px) {
 .main_elements{margin-top:85px;
    flex-basis:77%;
    max-width: 100%;
    min-width: 800px;
    border-radius: 10% 10% 8% 8% / 3% 3% 2% 2%;
    display:flex;
    flex-direction: column;
    align-items: center;
 }
 .main_element{
    max-width: 90%;
    min-width:  600px}
 .h1{font-size: calc(20px + 3vw);
 }
 .main_section-text{padding: 0 0;
    max-width: 80%;
    margin: 0 auto;
    line-height: calc(18px + 1vw);
    font-size: calc(16px + 0.3vw);
 }

 .main_articles{
    max-height: 15em;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
 }
 .main_articles-composition{width: 30%;
 }
 h3{padding-bottom: 15px;
    font-size: 18px;}
 .main_articles-composition-text{
    font-size: calc(10px + 0.2vw);
    text-align: justify;
 }

 .main_gallery{
    gap:1px;
    justify-content: space-between;
    flex-wrap: no-wrap;
 }
 .main_gallery-frame{
    flex-basis: 24.4%;
 }
 .main_gallery-frame{
    padding: 0.7%;
 }
}
/* MAIN WIDTH + 800 PX */